​version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:current
    # machine: true
    #  image: arm-default
    #resource_class: arm.medium
    steps:
      - checkout  # リポジトリからコードをチェックアウト
      - run: echo "tessshhhhhhhsssttttt"
      - run: echo "aaaaaaaaaaaaaaaaa"

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
                only: /^deploy\/stg$/
